* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  font-family: "Poppins", "Noto Sans KR";
  color: #3f4150;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 30px 0 50px;
  font-family: "Poppins", "Noto Sans KR";
  color: #3f4150;
  background-color: #f4f7fa;
}

.up {
  position: relative;
  animation: up 900ms ease-in;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 480px;
  height: 100%;
  padding: 40px 60px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 200ms ease;
}

.wrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  position: relative;
  display: block;
  width: fit-content;
  padding: 15px 0 12px;
  order: 2;
}

.name a {
  font-size: 28px;
  transition: color 200ms ease;
}

.name a:hover {
  color: rgba(63, 65, 80, 0.8);
}

.profile {
  position: relative;
  width: 135px;
  height: 135px;
  order: 1;
}

.profile img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: all 300ms ease;
}

.profile .circle {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url(https://i.pinimg.com/564x/d7/f3/83/d7f3832d4bfd653471f0e948aad18f4b.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 300ms ease;
}

.profile svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.profile:hover img {
  transform: scale(1.1);
  opacity: 0.5;
}

.profile:hover svg {
  opacity: 1;
}

.desc {
  font-weight: 700;
  order: 3;
}

.desc .fe:hover {
  color: #f0adff;
}

.desc .react:hover {
  color: #9ceaff;
}

hr {
  margin: 24px 0;
  width: 100%;
  height: 1px;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  width: fit-content;
  font-size: 20px;
}

.buttons {
  width: 300px;
  padding: 10px 0;
}

.buttons button {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0 10px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.buttons button::after {
  position: absolute;
  content: ". . .";
  color: transparent;
}

.buttons button:hover,
.buttons button.active {
  background-color: #f8f9fa;
}

.buttons button:hover::after {
  color: #3f4150;
}

.buttons button.active ~ .article {
  padding: 5px 10px;
  max-height: 100px;
}

.article {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.article h3 {
  font-size: 16px;
}

.article p {
  font-size: 14px;
}

/* Footer */

.elice img {
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translate(-50%);
  display: block;
  width: 100px;
  transition: transform 300ms ease;
}

.elice img:hover {
  transform: translate(-50%) scale(1.1);
}

@keyframes up {
  0% {
    opacity: 0;
    bottom: -12px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    width: 340px;
    padding: 60px 25px;
  }

  .profile {
    width: 95px;
    height: 95px;
  }

  .profile svg {
    width: 35px;
  }

  .profile .circle {
    bottom: -2px;
    right: -2px;
  }

  .name {
    padding: 12px 0;
  }

  .name a {
    font-size: 24px;
  }

  hr {
    margin: 20px 0;
  }

  .main-title {
    font-size: 18px;
  }

  .buttons button {
    font-size: 16px;
  }

  .article h3 {
    font-size: 14px;
  }

  .article p {
    font-size: 13px;
  }
}
